.menu {
  background-image: linear-gradient(to bottom right, #222412, black, #282d16, black); }
  .menu .nav-item {
    padding-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-weight: bold; }

#carouselExampleIndicators img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 40vh; }

#carouselExampleIndicators h1 {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 11%;
  text-align: center; }

#carouselExampleIndicators .my-carrusel {
  box-sizing: unset; }

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #0b0a0a;
  display: block;
  text-align: center;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif; }

.container h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Serif; }

.container .row {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.lugares .img-fluid {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 50vh;
  box-shadow: 0px 35px 44px -22px rgba(45, 45, 45, 0.72); }

.lugares .fondo {
  background-color: #f6f5f5;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .lugares .fondo .tama {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem; }

.lugares .texto {
  padding-right: 3rem;
  padding-left: 3rem;
  font-family: Serif;
  font-size: larger; }

.ferias {
  margin-top: 2rem; }
  .ferias .img-fluid {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 45vh;
    box-shadow: 0px 35px 44px -22px rgba(201, 198, 198, 0.72); }
  .ferias .estilo .item-left {
    margin-right: 0.5rem; }
  .ferias .estilo .item-right {
    margin-left: 0.5rem; }
  .ferias .estilo .item {
    background-color: #f6f5f5; }
    .ferias .estilo .item p {
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-right: 4rem;
      font-family: serif;
      font-size: larger; }

.musica .img-fluid {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 70vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 35px 44px -22px rgba(112, 110, 110, 0.72); }

.gastronomia .img-fluid {
  object-fit: cover;
  overflow: hidden;
  position: relative;
  height: 50vh;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0px 35px 44px -22px rgba(26, 26, 26, 0.72); }

.gastronomia p {
  margin-top: 2rem;
  font-family: serif;
  font-size: larger;
  margin-left: 2rem;
  margin-right: 2rem; }

.login {
  font-family: serif;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .login form input,
  .login form textarea {
    width: 100%; }

footer {
  padding-top: 0.5rem;
  padding-bottom: 00.5rem;
  background-image: linear-gradient(to bottom right, #222412, black, #282d16, black); }
  footer a {
    margin-left: 2rem;
    margin-right: 2rem;
    border-collapse: collapse;
    font-size: 25px;
    color: white;
    transform: scale(1);
    transform: 1s ease-in-out; }
    footer a:hover {
      transform: scale(2);
      transition: 1s ease-in-out;
      color: #bfda12; }
