#carouselExampleIndicators {
    img {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 40vh;
    }

    h1 {
        color: white;
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 11%;
        text-align: center;
    }

    .my-carrusel {
        box-sizing: unset;
    }
}