.menu {
    background-image: linear-gradient(to bottom right, rgb(34, 36, 18), rgb(0, 0, 0), rgb(40, 45, 22), rgb(0, 0, 0));



    .nav-item {
        padding-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-weight: bold;






    }
}